<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css}" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/layui-v2.3.0/css/formSelects-v4.css}"/>
</head>
<body>
<div class="layui-form timo-compile">
    <form id="editform" th:action="@{/business/basic/materials/save}" class="layui-form" method="POST">
        <input type="hidden" name="id" th:if="${config}" th:value="${config.id}"/>

        <div class="layui-form-item">
            <label class="layui-form-label required">商品名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" class="layui-input" th:value="${config?.name}">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">商品描述</label>
            <div class="layui-input-block">
                <textarea placeholder="" class="layui-textarea" name="description">[[${config?.description}]]</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">品牌</label>
            <div class="layui-input-inline">
                <input type="text" name="brand" class="layui-input" th:value="${config?.brand}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">年份</label>
            <div class="layui-input-inline">
                <input type="text" name="year" class="layui-input" th:value="${config?.year}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">价格</label>
            <div class="layui-input-inline">
                <input type="text" name="price" class="layui-input" th:value="${config?.price}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">图片</label>
            <div class="layui-input-inline">
                <button type="button" class="layui-btn image-upload-item" name="btn-icon"
                        up-url="/business/file/upload" th:up-input="iconUrl_cover" th:up-preview="iconPreview_cover">
                    <i class="layui-icon"></i>上传图片
                </button>
                <div class="upload-show" style="margin-left: 0px;">
                    <div class="upload-item succeed">
                        <img class="image-upload-item-preview" th:id="iconPreview_cover" th:attr="src=${config.imageUrl}">
                    </div>
                </div>

                <input class="layui-input" type="text" id="iconUrl_cover" name="imageUrl" th:value="${config.imageUrl}"
                       readonly="readonly" style="width: 600px;">
            </div>
        </div>

        <div class="layui-form-item timo-finally">
            <button type="submit" class="layui-btn" lay-submit lay-filter="formDemo"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/zTree_v3/js/jquery.ztree.core.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layui-v2.3.0/formSelects-v4.min.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/timoTree.js}"></script>
<script th:inline="javascript">
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;

        // 上传图片
        var uploadInst = upload.render({
            elem: '.image-upload-item'          //绑定元素
            , url: "/business/upload/file"      //上传接口
            , field: 'file'                     //文件域的字段名(对应后端参数名)
            , acceptMime: 'image/*'             //选择文件类型
            , exts: 'jpg|jpeg|png|gif|webp'     //支持的图片格式
            , multiple: false                   //开启多文件选择
            , choose: function (obj) {
                obj.preview(function (index, file, result) {
                });
            }
            , done: function (res, index, uploadInst) {
                if (res.code != 0) {
                    return layer.msg('上传失败');
                }
                var item = this.item;
                var inputId = $(item).attr('up-input') || 'inputId';
                var previewId = $(item).attr('up-preview') || 'previewId';
                $("#" + inputId).val(res.data.src);
                $("#" + previewId).attr("src", res.data.src);
                layer.msg('上传成功');
            }
        });
    });

    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function(data){
            $.ajax({
                url		: '/business/basic/materials/save',
                data	: $("#editform").serialize(),
                type	: "post",
                dataType: "json",
                success: function (res) {

                    if(res.code == 200){
                        window.parent.location.reload();
                    }else{
                        alert(res.msg);
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>