<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body class="timo-layout-page">
<div class="layui-card">
    <div class="layui-card-header timo-card-header">
        <span><i class="fa fa-bars"></i> 物料列表</span>
        <i class="layui-icon layui-icon-refresh refresh-btn"></i>
    </div>
    <div class="layui-card-body">
        <div class="layui-row timo-card-screen">
            <div class="layui-form pull-left layui-form-pane timo-search-box">
                <div class="layui-inline">
                    <label class="layui-form-label">商品名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" th:value="${param.name}" placeholder="模糊查询" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">品牌</label>
                    <div class="layui-input-block">
                        <input type="text" name="brand" th:value="${param.brand}" placeholder="" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">年份</label>
                    <div class="layui-input-block">
                        <input type="text" name="year" th:value="${param.year}" placeholder="" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <button class="layui-btn timo-search-btn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

            <div class="pull-right screen-btn-group">
                <button class="layui-btn open-popup" data-title="添加"
                        th:attr="data-url=@{/business/basic/materials/edit}" data-size="1300,800">
                    <i class="fa fa-plus"></i> 添加
                </button>
            </div>
        </div>
        <div class="timo-table-wrap">
            <table class="layui-table timo-table">
                <thead>
                <tr>
                    <th width="100">操作</th>
                    <th width="100" class="sortable" data-field="id">ID</th>
                    <th width="100">商品名称</th>
                    <th width="100">商品描述</th>
                    <th width="100">品牌</th>
                    <th width="100">年份</th>
                    <th width="100" class="sortable" data-field="price">价格</th>
                    <th>图片</th>
                    <th width="100">最后操作人</th>
                    <th width="100" class="sortable" data-field="updateTime">更新时间</th>
                    <th width="100" class="sortable" data-field="updateTime">创建时间</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item:${list}">
                    <td>
                        <a class="open-popup" data-title="编辑"
                           th:attr="data-url=@{'/business/basic/materials/edit/'+${item.id}}" data-size="1300,800">编辑</a>
                        <a class="open-popup" data-title="拷贝"
                           th:attr="data-url=@{'/business/basic/materials/copy/'+${item.id}}" data-size="1300,800">拷贝</a>
                        <a class="ajax-get" data-msg="您是否确认删除"
                           th:href="@{/business/basic/materials/delete(ids=${item.id})}">删除</a>
                    </td>
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.name}" th:title="${item.name}"></td>
                    <td th:text="${item.description}" th:title="${item.description}"></td>
                    <td th:text="${item.brand}"></td>
                    <td th:text="${item.year}"></td>
                    <td th:text="${item.price}"></td>
                    <td th:utext="${item.urlShow}"></td>
                    <td th:text="${item.operator}"></td>
                    <td th:text="${#dates.format(new java.util.Date(item.updateTime.longValue()), 'yyyy/MM/dd HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(new java.util.Date(item.createTime.longValue()), 'yyyy/MM/dd HH:mm:ss')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="/common/fragment :: page"></div>
    </div>
</div>
<script th:replace="/common/template :: script"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-3.3.1.min.js}"></script>
<script>
    layui.use(['layer'], function () {
        var layer = layui.layer;

        // 每一行图片单独作为一个相册
        document.querySelectorAll('.photo-group').forEach(function (el) {
            layer.photos({
                photos: el,
                anim: 5
            });
        });
    });
</script>
</body>
</html>