<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body class="timo-layout-page">
<div class="layui-card">
    <div class="layui-card-header timo-card-header">
        <span><i class="fa fa-bars"></i> 茶叶报价</span>
        <i class="layui-icon layui-icon-refresh refresh-btn"></i>
    </div>
    <div class="layui-card-body">
        <div class="layui-row timo-card-screen">
            <div class="layui-form pull-left layui-form-pane timo-search-box">
                <div class="layui-inline">
                    <label class="layui-form-label">商品名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" th:value="${param.name}" placeholder="模糊查询" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">品牌</label>
                    <div class="layui-input-block timo-search-status" style="width: 120px;">
                        <select class="timo-search-select layui-input" name="brand" mo:dict="TEA_BRAND"
                                mo-selected="${param.brand}" lay-search></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">商品编码</label>
                    <div class="layui-input-block">
                        <input type="text" name="skuCode" th:value="${param.skuCode}" placeholder="精确查询" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn timo-search-btn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
<!--            <div class="pull-right screen-btn-group" th:if="${!selectMode}">-->
<!--                <a class="layui-btn" th:href="@{/business/tea/teaQuotation/quote}">-->
<!--                    <i class="fa fa-plus"></i> 直接报价-->
<!--                </a>-->
<!--                <button type="button" class="layui-btn layui-btn-normal" id="batchQuoteBtn">-->
<!--                    <i class="fa fa-check-square-o"></i> 勾选报价-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="pull-right screen-btn-group" th:if="${selectMode}">-->
<!--                <button type="button" class="layui-btn layui-btn-normal" id="addSelectedProductBtn">-->
<!--                    <i class="fa fa-check-square-o"></i> 添加选中商品-->
<!--                </button>-->
<!--            </div>-->
        </div>

        <div class="timo-table-wrap">
            <table class="layui-table timo-table">
                <thead>
                <tr>
                    <th class="timo-table-checkbox">
                        <label class="timo-checkbox"><input type="checkbox">
                            <i class="layui-icon layui-icon-ok"></i></label>
                    </th>
                    <th width="90" class="sortable" data-field="brand">品牌</th>
                    <th width="150">商品名称</th>
                    <th width="120">规格</th>
                    <th width="120">生产批次</th>
                    <th width="100">官方价 / 元</th>
                    <th width="100">回收价 / 元</th>
                    <th width="100">回收价(外观破损) / 元</th>
                    <th width="100">回收价(无提袋扣减) / 元</th>
                    <th width="220">展示图（点击查看大图）</th>
                    <th width="100">商品编码</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item:${list}">
                    <td><label class="timo-checkbox"><input type="checkbox" th:value="${item.id}">
                        <i class="layui-icon layui-icon-ok"></i></label></td>
                    <td th:text="${#dicts.keyValue('TEA_BRAND', item.brand)}"></td>
                    <td th:text="${item.name}" th:title="${item.name}"></td>
                    <td th:text="${item.spec}"></td>
                    <td th:text="${item.productionBatch}"></td>
                    <td style="background-color: #EFF6FF; color: #1E40AF;" th:text="${item.officialPrice}"></td>
                    <td style="background-color: #FFFBEB; color: #B45309;" th:text="${item.recyclePrice}"></td>
                    <td style="background-color: #FEF2F2; color: #B91C1C;" th:text="${item.recycleReduceAmountShow}"></td>
                    <td style="background-color: #FEF2F2; color: #B91C1C;" th:text="${item.recyclePriceReduceNoBag}"></td>
                    <td th:utext="${item.imageShow}"></td>
                    <td th:text="${item.skuCode}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="/common/fragment :: page"></div>
    </div>
</div>
<script th:replace="/common/template :: script"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-3.3.1.min.js}"></script>
<script>
    layui.use(['layer'], function () {
        var layer = layui.layer;
        var $ = layui.jquery;
        document.querySelectorAll('.photo-group').forEach(function (el) {
            layer.photos({
                photos: el,
                anim: 5
            });
        });

        $('#batchQuoteBtn').on('click', function () {
            var idList = [];
            $('.timo-table tbody .timo-checkbox :checkbox:checked').each(function () {
                idList.push($(this).val());
            });
            if (idList.length === 0) {
                layer.msg('请至少勾选一条商品');
                return;
            }
            window.location.href = '/business/tea/teaQuotation/quote?ids=' + idList.join(',');
        });

        $('#addSelectedProductBtn').on('click', function () {
            var idList = [];
            $('.timo-table tbody .timo-checkbox :checkbox:checked').each(function () {
                idList.push($(this).val());
            });
            if (idList.length === 0) {
                layer.msg('请至少勾选一条商品');
                return;
            }
            if (window.parent && typeof window.parent.addSelectedProductsToQuote === 'function') {
                window.parent.addSelectedProductsToQuote(idList);
                var frameIndex = window.parent.layer.getFrameIndex(window.name);
                window.parent.layer.close(frameIndex);
            }
        });
    });
</script>
</body>
</html>
